modules = ["nodejs-20", "postgresql-16"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 43026958
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./start.sh"
